.sheet.actor {
  background-color: #111;
  color: #f0f0f0;
  font-family: "Segoe UI", sans-serif;
  padding: 1rem;
}

.sheet-tabs .item {
  margin-right: 5px;
  padding: 4px 10px;
  background: #222;
  border-radius: 3px;
  cursor: pointer;
}

.sheet-tabs .item.active {
  background: #555;
}